/*
  * @Author: wzh 
  * @Date: 2021-06-17 16:36:26
  * @Last Modified by: 1521620993@qq.com
  * @Last Modified time: 2021-06-17 16:36:26
  */
:root {
  --primary: #6d5dfc;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
}

.clock {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .hours {
  width: 0.4rem;
  height: 3.2rem;
  background: var(--greyLight-3);
}
.clock .minutes {
  width: 0.4rem;
  height: 4.6rem;
  background: var(--greyDark);
}
.clock .seconds {
  width: 0.2rem;
  height: 5.2rem;
  background: var(--primary);
}
.clock .hand {
  position: absolute;
  bottom: 6rem;
  border-radius: 0.2rem;
  transform-origin: bottom;
  z-index: 1;
}
.clock .hours {
  transform: rotate(180deg);
}
.clock .minutes {
  transform: rotate(90deg);
}
.clock .point {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--primary);
  z-index: 2;
}
.clock .marker {
  width: 11.5rem;
  height: 11.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .marker::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), inset -1px -1px 1px var(--white);
}
.clock .marker__1, .clock .marker__2, .clock .marker__3, .clock .marker__4 {
  position: absolute;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), inset -1px -1px 1px var(--white);
}
.clock .marker__1 {
  width: 0.2rem;
  height: 0.6rem;
  left: 5.65rem;
  top: 0.2rem;
}
.clock .marker__2 {
  width: 0.2rem;
  height: 0.6rem;
  left: 5.65rem;
  top: 10.8rem;
}
.clock .marker__3 {
  width: 0.6rem;
  height: 0.2rem;
  left: 0.2rem;
  top: 5.6rem;
}
.clock .marker__4 {
  width: 0.6rem;
  height: 0.2rem;
  left: 10.8rem;
  top: 5.65rem;
}
